/* styles.css */
 
body {
    background-image: url('/images/poker_felt.jpg');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed as you scroll */
}

.title {
    font-weight: bold;
    font-size: 36px;
    color: #00FFFF;
}

.count {
    font-weight: bold;
    font-size: 24px;
    color: #00FFFF;
}

.shuffle-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.shuffle-button:hover {
    background-color: #45a049;
}

.card {
    width: 70px;
    height: auto;
    background-size: cover;
    margin: 5px;
}

/* Media query for larger screens (like computers) */
@media (min-width: 768px) { /* For devices with screen width 768px and up (e.g., tablets, laptops, desktops) */
    .card {
        width: 150px; /* Make the card larger */
        height: auto; /* Adjust height accordingly */
    }
}